# 1. print squrare patter for no n

In [1]:
n=int(input('enter a no n: '))
for i in range(n):
    for j in range(n):
        print(n,end=" ")
    print()

enter a no n: 4
4 4 4 4
4 4 4 4
4 4 4 4
4 4 4 4

# 2. traingular start pattern

In [6]:
n=int(input('enter a no n: '))
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

enter a no n: 5
*
**
***
****
*****

# 3. traingular no pattern

In [10]:
n=int(input('enter the value of n: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

enter the value of n: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# 4. reverse no pattern ex-for row 4- 4321

In [11]:
n=int(input('enter the value of n: '))
for i in range(1,n+1):
    start=i
    for j in range(1,i+1):
        print(start,end=" ")
        start-=1
    print()

enter the value of n: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# 5. print char patter for ex- row 3- CDE

In [25]:
# causing error using chr so i am just printing ascii value
n=int(input('enter the value of n: '))
for i in range(1,n+1):
    start=65+i-1   #chr(ord('A')+i-1)
    for j in range(1,i+1):
        print(start,end=" ")
        start+=1
    print()

enter the value of n: 5
65
66 67
67 68 69
68 69 70 71
69 70 71 72 73

# 6. print the pattern ex- for row 5- 54321 row 4-4321

In [27]:
n=int(input('enter the value of n: '))
for i in range(1,n+1):
    value=n-i+1
    for j in range(1,(n-i+1)+1):
        print(value,end=" ")
        value-=1
    print()

enter the value of n: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1